body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}
img {
  /* max-width: 100%; */
  /* height: auto; */
}

.partners-list-item a img {
  text-align: center;
  vertical-align: middle;
  opacity: 0.2;
}
/*INDEX*/
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
}

.site-navigation,
.user-cart {
  list-style: none;
}

.site-navigation a,
.user-cart a {
  color: #000000;
}

.site-navigation a:hover,
.user-cart a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-cart a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a:active,
.user-cart a:active {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #fb565a;
}
.current-page {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #fb565a;
}

.feature-list {
  list-style: none;
}

.feature-item {
  text-align: left;
}

.feature-item p,
.self-presentation p,
.tasks-list li {
  color: #283136;
}

.tasks-list {
  list-style: none;
  padding-left: 0px;
  padding-top: 10px;

}
.tasks-list li {
  margin-bottom: 23.5px;
  position: relative;
  margin-left: 37px;

}


.tasks-list li::before {
  position: absolute;
  left: -36px;
  width: 23px;
  border: 1px solid #fb565a;
  top: 9px;
  content: "";
}

.feature-item p {
  margin-bottom: 32px;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 18px;
  margin-left: 0px;
  margin-bottom: 17px;
}

.features,
.self-presentation {
  border-bottom: 2px solid #eeeeee;
  margin: 0 auto;
  padding: 0 20px;

}

.self-presentation .slogan {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 18px;
  display: inline-block;
}

.tasks b,
.statistics b {
  text-transform: uppercase;
}

.statistics-header {
  margin-left: 18px;

}

.statistics {
  margin-top: 30px;

}

.statistics ul {
  list-style: none;
  display: flex;
}

.percent {
  font-size: 45px;
  line-height: 10.06px;
}

.statistics-list {
  margin-top: 58px;
  padding: 0;
}

.statistics-list p {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
  padding-top: 3px;
}

.statistics .percent {
  padding-right: 17px;
}
.button-red {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 3px;
}

.catalog-item-hover .button-red {
  display: inline-block;
    margin-top: 30px;
    padding: 15px 62px;
}

.catalog-item-hover {
  text-align: center;
    /* align-items: center; */
    visibility: hidden;

}

/* .wrap-item-hover {
  height: 618px;
  background-color: transparent;
} */

.catalog-item:hover .catalog-item-hover {
  visibility: visible;
}

.catalog-item-hover:hover {
  display: inline-block;
}

.catalog-item-hover a {
  text-align: center
}
.button-red:hover {
  background-color: #e74246;
}

.button-red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-contact-red {
  font: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #fb565a;
    border: none;
    display: inline-block;
    padding: 16px 45px;
    border-radius: 3px;
}

.button-red-send {
  width: 260px;
}

.button-green {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #00ca74;
  border: none;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 3px;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #efc84a;
  border: none;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 3px;
}

.button-yellow:hover {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #eab534;
  color: rgba(255, 255, 255, 0.3);
}


/*--------------------------*/
/*NERDS-CATALOG*/
.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-item ul {
/* padding: 0; */


}
.filter-item-controls {
  margin-bottom: 61px;
}

.filter-item-grid {
  margin-bottom: 24px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

/* .filter legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 600;
} */
.range-controls {
  position: relative;
  height: 41px;;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 52px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls {
  font-size: 0;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-option {
  margin-bottom: 22px;
  position: relative;
  opacity: 0.4;
}

.filter-option:hover {
  opacity: 1.0;
}
.filter-option-on {
  position: relative;
}
.filter-option-checked {
  position: relative;
}

./* filter-option-on::before { */
  .filter-input-radio:checked + label::before {
  content: "";
  width: 25px;
  height: 25px;
  /* background-color: #f91924; */
  position: absolute;
  top: -1px;
  left: -39px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

/* .filter-option-checked::before { */
  .filter-input-checkbox:checked + label::before {
  content: "";
  width: 25px;
  height: 25px;
  /* background-color: #f91924; */
  position: absolute;
  top: -1px;
  left: -39px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

/* .filter-option-off::before { */
  .filter-input-radio + label::before {
  content: "";
  width: 25px;
  height: 25px;
  /* background-color: #f91924; */
  position: absolute;
  top: -4px;
  left: -39px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  /* opacity: 0.4; */
}

/* .filter-option-unchecked::before { */
  .filter-input-checkbox + label::before {
  content: "";
  width: 25px;
  height: 25px;
  /* background-color: #f91924; */
  position: absolute;
  top: -1px;
  left: -39px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  /* opacity: 0.4; */
}
/**/

.filter-input-radio + label::before {
  background-image: url("../img/radio-off.svg");
}
.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}
/**/
.filter-option:hover::before {
  opacity: 1.0;
}

.filter-option:disabled::before {
  opacity: 0.1;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter-input + label {
  color: #283136;
}

.filter-input:hover + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: #283136;

  opacity: 0.3;
}

.filter-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  width: 260px;
  height: 50px;
  margin-top: 24px;



}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  opacity: 0.3;
}

.sorting-position {
  margin: 0px 15px 0 10px;
}

.sorting-position,
.arrow-position  {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
  justify-content: space-between;
}

.sorting-position-current,
.arrow-position-current {
  color: #000000;
  opacity: 1.0;
  justify-content: space-between;

}

.sorting-management {
  display: flex;
    position: absolute;
    right: 74px;
    list-style: none;
    top: -8px;
}


.catalog-item {
  height: 616px;
    background-color: #e9e9e9;
    display: inline-block;
}

.catalog-item-hover {
  background-color: #eeeeee;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    width: 362px;
    height: 230px;
    box-sizing: border-box;
    padding-top: 7px;
}

.catalog-item-hover h3 {
  color: #000000;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;

}

.catalog-item-hover h3 a {
  color: #000000;
}

.catalog-item-hover p {
  color: #666666;
  font-size: 16px;
  line-height: 18px;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #eeeeee;
  border: 3px solid #eeeeee;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d5d5d5;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}
.pagination-item .pagination-item-current {
  width: 44px;
  height: 44px;
}
.sorting {
  margin-top: 15px;
  position: relative;
}
.sorting b {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  }

  .catalog-list {
    list-style: none;

  }


/*--------------------------*/
.sorting-management {

}
.arrow-position-current {
  position: absolute;
    top: 2px;
    left: 371px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/icon-down-dir.svg);
}

.arrow-position {
  position: absolute;
    top: 2px;
    left: 400px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/icon-up-dir.svg);
}

/*MAIN-SLIDER*/
.main-slider {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #eeeeee;
}

.main-slider-item {
 /*  width: 1200px; */
 /*  margin: 0 auto; */
  /* padding: 0 20px; */
  box-sizing: border-box;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider-item {
  display: none;
  padding: 63px 0 80px 0;
}



.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 18px 0;

  font-size: 16px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 3px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 105px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;

  /* Временно для демонстрации */
  /* background-color: red; */
}

.slider-controls i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.catalog-item-image i {
  position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    padding: 0px 2px 0px 2px;
    border-radius: 50%;

}

.circles {
  display: inline-block;
    position: absolute;
    top: 3px;
    left: 9px;
}

.catalog-item-image i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 14px;
  height: 14px;
  display: inline-block;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  list-style: none;

}

.main-slider .slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;

}
/*--------------------------*/



.contact-info {
  width: 320px;
  height: 310px;

  margin: 0;
  position: absolute;
  left: 20px;
  bottom: 53px;
  z-index: 100;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  background-color: #ffffff;
  padding-left: 49px;
  padding-top: 34px;
  box-sizing: border-box;
}

.contact-info b {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  padding-bottom: 24px;
}

.contact-info p {
  padding-bottom: 20px;
}

.contacts {
  position: relative;
}



.wright-item input,
.wright-item textarea {
  font: inherit;
  color: rgba(68, 68, 68, 0.5);

  background-color: transparent;
  border: 2px solid #d7dcde;
}

.wright-item input:hover,
.wright-item textarea:hover {
  font: inherit;
  color: rgba(68, 68, 68, 0.5);

  background-color: transparent;
  border: 2px solid #b4b9bb;
}

.wright-item input:focus,
.wright-item textarea:focus {
  font: inherit;
  color: #444444;

  background-color: transparent;
  border: 2px solid #000000;
}

.wright-item input:invalid,
.wright-item textarea:invalid {
  font: inherit;
  color: #e74246;

  background-color: transparent;
  border: 2px solid #e74246;
}

.catalog-item-image {
  display: flex;
  align-items: flex-end;
  height: 618px;
  position: relative;
}

.catalog-item-image a{
  display: flex;
    align-items: flex-end;

}

.catalog-item-image img {
  border: 1px solid #e5e5e5;
}
.catalog-item-active {
  background-color: #4d4d4d;
}

.catalog-item:hover {
  background-color: #4d4d4d;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.footer-social {
  padding-left: 20px;
  padding-right: 20px;
  /* min-height: 220px; */
  /* background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */
}

.footer-social .slogan {
  font-size: 36px;
  line-height: 36px;
}

.footer-social p {
  font-size: 16px;
  line-height: 8px;
  color: #444444;
}
.social-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  /* height: 80px;
  width: 260px;
  margin-top: 60px; */
  text-align: center;
  vertical-align: middle;
  /* margin-right: 138px; */
  padding-top: 0;
  /* background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */
}

.social-list li {
  /* justify-content:space-between; */
  vertical-align: middle;
  text-align: center;
}
/*  */
.social-button {
     display: flex;
    justify-content: center;
    /* vertical-align: middle; */
    width: 79px;
    height: 79px;
    background-color: #e1e1e1;
    align-items: center;
    border-radius: 50%;
    margin-right: 11px;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  /* opacity:0.3; */
  fill-opacity: 0.3;
}
/*VISUALLY-HIDDEN*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----- Сеточные стили ----- */


html,
body {
 width: 1200px;
 margin: 0 auto;
 /*  min-height: 2476px;; */
}

body {
  /* Временно для сетки */
 /*  background-image: url('../img/nerds-index-png.png');
  background-size: 1440px auto;
  background-repeat: no-repeat; */
}

.main-header {
  /* margin-bottom: 18px; */
  background-color: #eeeeee;

  /* Временно для сетки */
  min-height: 114px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  /* Временно для сетки */
  min-height: 114px;
  background-color: #eeeeee;
 }
 .main-header-logo {
  width: 160px;
  height: 65px;
  margin-top: 6px;
  margin-left: 20px;
  margin-right: 175px;


}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}
.site-navigation {
  margin: 0;
  padding: 0;
  padding-left: 0;
  padding-top: 8px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 170px;

  list-style: none;

  /* Временно для сетки */
 /*  min-height: 70px; */
 /*  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */
}

.site-navigation a{
  display: block;
  color: #000000;
  margin: 24px 24px;

  vertical-align: middle;
}

.user-cart a {
  display: block;
  color: #000000;
  vertical-align: middle;
  padding-top: 32px;
}

.user-cart {
  margin: 0;
  padding: 0;
  padding-left: 77px;
  /* padding-top: 8px; */
  width: 175px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  list-style: none;

  /* Временно для сетки */
 /*  min-height: 65px; */
 /*  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */
}

.user-cart .cart-link {
  position: relative;
}

.cart-link::before {
  content: "";
  width: 15px;
  height: 15px;
  /* background-color: #f91924; */
  position: absolute;
  top: 39px;
  left: -37px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.main-navigation-wrapper {
  width: 100%;
  background-color: #eeeeee;
  margin-top: 43px;

  /* Временно для сетки */
  min-height: 65px;
}

.container {
  /*  width: 1160px; */
  margin: 0 auto;

}

.main-navigation-wrapper .container {
  display: flex;
  /* justify-content: space-between; */
}

.main-slider {
  /* Временно для сетки */
  min-height: 416px;
  margin-bottom: 80px;
}

.feature-list {
  display: flex;
  /* justify-content: space-between; */
  margin: 0;
  padding-left: 0;
  padding-right: 80px;


  list-style: none;

  /* Временно для сетки */
  /* min-height: 427px; */
}

.feature-item {
  width: 300px;
  margin-bottom: 80px;
  margin-right:100px;
  /* Временно для сетки */
 /*  min-height: 427px; */
}

.self-presentation {
  display: flex;
  /* justify-content: space-between; */
 /*  margin-bottom: 70px; */
  margin-top: 40px;
  /* padding-left: 140px; */

  /* Временно для сетки */
  min-height: 486px;
}

.presentation-1 {
  width: 700px;
  padding-top: 35px;

}

.presentation-1 p {
  display: inline-block;
  margin-bottom: 38px;
  /* margin-left: 137px; */
}

.presentation-2 {
  width: 360px;
  margin: 0;
  margin-left: 100px;
  padding: 0
}

.presentation-2 img {
  width: 360px;
  height: 208px;

}

.partners {
  margin: 0 auto;
  width: 1200px;
  margin-bottom: 80px;
  /* Временно для сетки */
  min-height: 180px;

  /* background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */
  }


  .partners-list {

  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 46px;
  width: 1200px;
  list-style: none;

    /* Временно для сетки */
   /*  min-height: 70px; */
  }

  /* .partners-list:nth-child(1n) {
    padding-left: 11px;
    padding-top: 62px;
  }

  .partners-list:nth-child(2n) {
    padding-left: 11px;
    padding-top: 62px; */

  .partners-list-item {
    position: relative;
    width: 260px;
    text-align: center;
    /* padding-right: 16px; */

    vertical-align: middle;
    /* padding-right: 10px; */
    /* background: rgba(234, 255, 45, 0.2); */
    /* box-shadow: inset 0 0 0 2px rgb(13, 245, 84); */
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
  }

  .partners-list-item +li::after {

    position: absolute;
    left: -22px;
    height: 50px;
    border: 1px solid #eeeeee;
    top: 50%;
    content: "";
    transform: translateY(-50%);
  }

  .footer-social {
    /* padding: 60px 0; */
    /* Временно для сетки */
    min-height: 220px;

  }
.social-list {
  width: 220px;
  height: 80px;
  margin-right: 41px;
  margin-top: 62px;

}

.footer-slogan {
  margin-left: 139px;
  margin-top: 68px;
}

.footer-social .container {
  display: flex;
}

.page-title-container {
background-color: #eeeeee;
padding-top: 23px;
min-height: 200px;
border-top: 1px solid transparent;
}

.filters {
  width: 260px;
  /* margin-left: 140px; */
  margin-right: 140px;
  margin-top: 20px;
  height: 780px;


}

.catalog {
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 30px;
}

.catalog-item {
width: 360px;
height: 618px;
margin-bottom: 29px;
border-top-left-radius: 5px;
    border-top-right-radius: 5px;
/* margin-right: 20px; */
}

.page-title-wrapper {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;

  margin: 0 auto;
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-bottom: 65px;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 50px;
}

.pagination-item .pagination-item-next {
  width: 260px;
}

.pagination-item a {
  display: inline-block;
  width: 44px;
  height: 44px;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
  border-radius: 3px;
  font-family: inherit;
  font-size: 16px;
  line-height: 55px;
  font-weight: 500;
  text-transform: uppercase;
}


.map {
  /* text-align: center; */
  /* overflow: hidden; */
  background-image: url("../img/map.jpg");
  height: 416px;
  background-size: cover;
  background-position: center;
  margin-bottom: 7px;
}
.modal {
  color: #000000;

  background-color: #ffffff;
  position: fixed;
  z-index: 101
}

.modal-wright-us {
  top: 20px;
  left: 120px;

  width: 960px;
  height: 590px;
  padding: 75px 100px;
  /*   */
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;

  width: 26px;
  height: 4px;

  background-color: #fecccd;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
  background-color: #fb565a;
}

.modal-close:active::before,
.modal-close:active::after {
  background-color: #ffeeee;
}

.modal-wright-us h2 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 45px;
  line-height: 45px;
}

.modal-bold {
  font-size: 16px;
  line-height: 18px;

}

.wright-form p {
  margin: 0;
  margin-bottom: 50px;
}

.wright-form input[type="text"],
.wright-form input[type="email"],
.wright-form textarea {
  box-sizing: border-box;
  width: 360px;
  padding: 15px 15px;
  padding-right: 40px;

  font: inherit;
  color: #000000;

}

.form-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wright-form textarea {
  width: 760px;
  min-height: 118px;
}
